---
title: OH startegy
description: OH
show-code: False
params:

    dayE :
        input: numeric
        label: Please select Expiry date
        value: 15
        min: 1
        max: 31
        step : 1
    monthE:
        input: select
        label: Please select Expiry month
        value: Oct
        choices: [Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec]
    yearE:
        input: select
        label: Please select Expiry year
        value: 2022
        choices: [2022,2023]    
    
---

In [1]:
# expiry='22-Sep-2022'

dayE = 13
monthE ='Oct'
yearE = '2022'

In [2]:
if dayE < 10 :
    val ='0'+str(dayE)
    expiry = val+"-"+monthE+"-"+yearE
else:
    expiry = str(dayE)+"-"+monthE+"-"+yearE
# expiry

In [3]:
import requests
import pandas as pd

symbol =['BANKNIFTY','NIFTY']
oh_high=1000
oh_low=40

while True:
    try:
        for s in symbol:
            print(s,"OH")
            url='https://www.nseindia.com/api/quote-derivative?symbol={}'.format(s)
            headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:104.0) Gecko/20100101 Firefox/104.0'}

            r = requests.get(url,headers=headers)
            data=r.json()
            item = len(data['stocks'])
            list=[]
            timestamp=[]
            for i in range(item):
                list.append(data['stocks'][i]['metadata'])
                timestamp.append(data['opt_timestamp'])
            df_time=pd.DataFrame(timestamp)
            df_time.columns=['timestamp']

            df=pd.DataFrame(list)
            df["timestamp"]=df_time['timestamp']
            g1=df.groupby("expiryDate")
            df_expiry=g1.get_group(expiry)
            df_oh = df_expiry[(df_expiry['openPrice']==df_expiry['highPrice'])& (df_expiry['openPrice']>oh_low)& 
                              (df_expiry['openPrice']<oh_high)].sort_values(by="highPrice")
            df_oh_reorder = df_oh[['timestamp','optionType', 'strikePrice','openPrice', 'highPrice', 
                                   'lowPrice', 'closePrice','prevClose', 'lastPrice', 'change', 'pChange']]
            # df_oh_reorder.style.apply(blue_font, axis=0, subset=['openPrice','highPrice'])

            display(df_oh_reorder)
        break
    except:
        print("Network busy....trying again")

BANKNIFTY OH
Network busy....trying again
BANKNIFTY OH

,timestamp,optionType,strikePrice,openPrice,highPrice,lowPrice,closePrice,prevClose,lastPrice,change,pChange
31,10-Oct-2022 10:19:21,Call,40200,40.5,40.5,15.00,0,76.60,17.60,-59.00,-77.023499
28,10-Oct-2022 10:19:21,Call,39900,63.1,63.1,28.45,0,138.70,35.05,-103.65,-74.729632
25,10-Oct-2022 10:19:21,Call,39600,137.9,137.9,56.40,0,232.95,70.85,-162.10,-69.585748
13,10-Oct-2022 10:19:21,Call,39200,212.8,212.8,130.00,0,412.30,163.40,-248.90,-60.368664
18,10-Oct-2022 10:19:21,Call,39300,212.8,212.8,106.75,0,361.95,134.55,-227.40,-62.826357
1,10-Oct-2022 10:19:21,Call,39000,308.9,308.9,188.10,0,523.50,233.85,-289.65,-55.329513

NIFTY OH

,timestamp,optionType,strikePrice,openPrice,highPrice,lowPrice,closePrice,prevClose,lastPrice,change,pChange
26,10-Oct-2022 10:18:18,Call,17450,44.75,44.75,14.05,0,78.05,15.10,-62.95,-80.653427
3,10-Oct-2022 10:18:18,Call,17300,68.75,68.75,35.20,0,148.05,38.90,-109.15,-73.725093
5,10-Oct-2022 10:18:18,Call,17200,122.75,122.75,63.00,0,208.40,68.80,-139.60,-66.986564
2,10-Oct-2022 10:18:18,Call,17100,172.65,172.65,103.35,0,278.30,112.05,-166.25,-59.737693
543,10-Oct-2022 10:18:18,Call,16550,550.00,550.00,526.30,0,773.30,526.30,-247.00,-31.941032
570,10-Oct-2022 10:18:18,Call,16450,679.45,679.45,621.80,0,868.45,648.40,-220.05,-25.338246
450,10-Oct-2022 10:18:18,Call,16400,734.80,734.80,664.75,0,919.45,675.00,-244.45,-26.586546
402,10-Oct-2022 10:18:18,Call,16300,820.00,820.00,761.60,0,1040.05,778.45,-261.60,-25.152637
646,10-Oct-2022 10:18:18,Call,16100,999.35,999.35,982.70,0,1208.45,982.70,-225.75,-18.680955

In [4]:
import yfinance as yf
data=yf.download('^NSEBANK,^NSEI',interval='1m',period='1d')["Close"]
data=round(data)

[*********************100%***********************]  2 of 2 completed

## Index current status

In [5]:

display(data.iloc[-1,:])

^NSEBANK    38724.0
^NSEI           NaN
Name: 2022-10-10 10:20:44+05:30, dtype: float64

In [6]:
# yahoo finance instant quote

# url='https://query2.finance.yahoo.com/v10/finance/quoteSummary/%5ENSEBANK?formatted=true&crumb=XcWM00%2FDR.l&lang=en-US&region=US&modules=price%2CsummaryDetail%2CpageViews%2CfinancialsTemplate&corsDomain=finance.yahoo.com'
# r = requests.get(url,headers=headers)
# data=r.json()

In [7]:
# data

In [8]:
# data['quoteSummary']['result'][0]['price']['regularMarketPrice']

In [9]:
# df_expiry